{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
} 

body{
	font-family:Arial;
	line-height:1.6;
	color:#333;
	background-color:#f4f4f4;
}

#hero{
	background-color:#007bff;
	color:white;
	padding:2rem;
	text-align:center;
	min-hight:50vh;
}

nav ul{
	list-style:none;
	display:flex;
	justify-content:center;
	gap:1rem;
	margin-bottom:1rem;
}

nav a{
	color:white;
	text-decoration:none;
	padding:0.5rem;
	transition:background-color 0.3s;
}

nav a:hover{
	background-color:#0056b3;
	border-radius:4px;
}

#about{
	padding: 6px 200px;
	background-color:white;
	text-align:center;
	
	max-width: 900px;
	margin:0 auto;
}

.card{
	background-color:#f9f9f9;
	margin:1rem auto;
	padding:1rem;
	max-width:300px;
	border-radius:8px;
	box-shadow:0 2px 5px rgba(0,0,0,0.1);
	transition:all 0.3s;
}

.card:hover{
	box-shadow:0 4px 10px rgba(0,0,0,0.2);
	transform:translateY(-5px);
}
